<html>

<head>
<title>Title</title>
</head>

<body>

<h1>Training Set</h1>
<p>&nbsp;</p>
<p>As variables are created under the &lsquo;Variable creation&rsquo; tab, they are automatically appended to the training set attributes table. Alternatively, you can upload a pre-made training set to bypass the GIS operations.&nbsp;</p>
<ul>
<li><strong>Load existing dataset</strong>: Select a csv file. This can be the output saved from a previous modelling exercise. Note that with this option, a training set preview map is not plotted.&nbsp;</li>
</ul>
<ul>
<li><strong>Training set map</strong>: The monitoring data set in the &lsquo;variable creation&rsquo; tab is previewed here. The attribute plotted is that set as the response in the &lsquo;model builder&rsquo; tab. Use the slider to change the symbol size on the map.&nbsp;</li>
</ul>
<ul>
<li><strong>Outlier selection</strong>: Click on a row in the attribute table to highlight it. This row will now be automatically excluded from any model (any defined model in the model builder will be automatically updated to reflect this). To reinstate a row, click it again to remove the highlight. To reinstate all rows, click the &lsquo;clear&rsquo; button next to the outlier selection point counter. You will use the outlier remove capabilities after starting to build you models.</li>
</ul>

</body>
</html>
