<html>

<head>
<title>Introduction</title>
</head>

<body>

<h1>Introduction</h1>
<p>&nbsp;</p>
<p>This application allows you to build land use regression (LUR) models from scratch including all GIS and statistical operations with the need for separate or commercial software packages. Land use regression was originally developed to assign air pollution exposures to point locations. LUR is an established method for exposure assessment in epidemiology, the method used here follows that of the ESCAPE project.</p>
<p>For full details of the LUR method, please see:</p>
<p><em>Eeftens. M. et al. (2012) Spatial variation of PM2.5, PM10, PM2.5 absorbance and PMcoarse concentrations between and within 20 European study areas and the relationship with NO2 - Results of the ESCAPE project. Atmospheric Environment, 62, 303-317.</em></p>
<p>&nbsp;</p>
<p>To make an LUR model, you need the following data:</p>
<ul>
<li><strong>Training set</strong>: Point locations of monitoring sites with measured pollution concentrations.</li>
<li><strong>Land cover data</strong>: A GIS layer of land cover polygons</li>
<li><strong>Traffic data</strong>: A GIS layer of the road network with corresponding traffic flow data</li>
<li><strong>Population data</strong>: A GIS layer of postcode centroids with population data</li>
</ul>
<p>&nbsp;</p>
<p>A sample data set is provided here of NO<sub>2 </sub>concentrations in Bradford, UK. The predictor variables created follow the ESCAPE methodology and a summary of these can be seen by clicking on the &lsquo;Descriptions&rsquo; menu item.</p>
<p>&nbsp;</p>
<p>This Application provides user-friendly functionality to:</p>
<ul>
<li>Use GIS operations of buffer, intersection and nearest neighbour to generate LUR predictor variables</li>
<li>Interactively build and validate the LUR model</li>
<li>Apply this predictive model to un-sampled areas to generate a prediction surface or predictions at pre-defined points.</li>
</ul>
<p>&nbsp;</p>
<img width=602 height=650 src="image001.jpg">

</body>
</html>
