<html>

<head>
<title>Test data</title>
</head>

<body>
<h1>Test data</h1>
<p>&nbsp;</p>
<p>A test dataset is provided for an area around Bradford, UK as follows:</p>
<ul>
<li><strong>NO2_sites.shp</strong>: Location of pollution monitoring sites and measured NO<sub>2</sub></li>
<li><strong>Corine.shp</strong>: CORINE landcover classes</li>
<li><strong>Postcode.shp</strong>: Postcode centroids with population and number of households</li>
<li><strong>RoadsOSM_routed.shp</strong>: Road geography from OpenStreetMap with traffic flows assigned from the UK Department of Transport following the method of Morley &amp; Gulliver.</li>
</ul>
<ul>
<li><strong>bradford_NO2_trainingset.csv: </strong>A table of the predictor variables already extracted for convenience.</li>
</ul>
<p>&nbsp;</p>
<p>These data are downloadable from the RLUR GitHub site (see the readme there):</p>
<p><a href="https://github.com/dwmorley/RLUR">https://github.com/dwmorley/RLUR</a></p>
<p>&nbsp;</p>
<img width=602 height=815 src="image002.jpg">
</body>
</html>
